/* Flashcard.css */

.flashcard {
    width: 220px;
    height: 380px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.heart-icon {
    width: 20px;
    height: 20px;
    background-color: red;
    /* Change color based on whether it's a favorite or not */
}

.image-container {
    flex-grow: 1;
    overflow: hidden;
}

.flashcard-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.flashcard-title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.flashcard-details {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}


.detail-row {
    display: flex;
    justify-content: space-between;
    /* Add margin for better spacing */
}

.detail-label {
    flex: 1;
    /* Make the label take 1/3 of the space */
    text-align: left;
    /* Align the label to the left */
}

.detail-value {
    flex: 2;
    /* Make the value take 2/3 of the space */
    text-align: right;
    /* Align the value to the right */
    margin-left: auto;
    /* Push the value close to the right */
}