.auction-item {
    opacity: 0.5; /* Default text opacity */
    cursor: pointer; /* Change cursor on hover to indicate clickability */
    transition: opacity 0.3s ease; /* Smooth transition for opacity changes */
  }
  
  .auction-item.selected {
    opacity: 1; /* Full opacity for the selected item */
  }
  