/* IntroductionSection.css */

.introduction-section {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-top: 4rem;
  font-family: 'Inika', sans-serif;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 10rem;
  padding-bottom: 2rem;
}


.introduction-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* Align items at the start of the cross axis */
  overflow: hidden;
}

.introduction-left {
  width: 30%;
  height: 400px;
  /* Set a fixed height for the left section */
  padding-left: 10rem;
}

.introduction {
  padding: 10px;
  margin-bottom: 40px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 17px;
  background-color: rgba(255, 255, 255, 0.7);
  /* Less opacity */
  padding: 1rem;
}

.introduction:hover {
  background-color: #f5f5f5;
}

.introduction.active {
  background-color: #ddd;
}

.introduction-right {
  flex: 1;
}

.intro-picture-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.intro-picture {
  width: 700px;
  height: 700px;
  display: none;
  object-fit: contain;
}

.intro-picture.active {
  display: block;
  object-fit: cover;
  width: 700px;
  height: 700px;
}

