/* SubintroComponent.css */

.subintro-component {
  text-align: center;
  background-color: rgb(173, 170, 170, 0.1);
  font-family: 'Inika', sans-serif;

}

.subintro-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 30px;
}

.auction-cta {
  padding: 4rem;
  background-color: rgba(255, 255, 255);
}

.cta-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cta-button {
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Inika', sans-serif;
  border: 1px solid #666666;
  border-radius: 10px;
}

.cta-button a {
  text-decoration: none;
  color: black;
}

.partner-images {
  display: flex;
  justify-content: space-around;
}

.partner-images img {
  width: 150px;
  /* Set the width of each partner image */
  height: 150px;
  /* Set the height of each partner image */
  margin: 10px;
  object-fit: cover;
  /* Ensure images maintain aspect ratio */
  border-radius: 50%;
  /* Make images circular */
}