/* FooterComponent.css */

.footer {
  background-color: #000000; /* Adjust the background color as needed */
  padding: 20px; /* Adjust the padding as needed */
  color: white; /* Adjust the text color as needed */
  font-family: 'Inika', sans-serif;
}

.footer-section {
  display: flex;
  justify-content: flex-start; /* Start from the left */
  align-items: flex-start; /* Start from the top */
  flex-wrap: wrap; /* Allow columns to wrap to the next row */
}

.footer-column,
.footer-column1,
.footer-column2,
.footer-column3 {
  text-align: left; /* Align both title and content to the left */
  width: 25%; /* Set the width of each column (adjust as needed) */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  padding: 0 10px; /* Adjust the padding as needed */
}

.column-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.column-content {
  margin-bottom: 10px;
  text-align: left; /* Align the content below the title to the left */
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; /* Add margin at the top of the bottom section */
}

.footer-bottom-logos {
  display: flex;
  align-items: center;
}

.footer-bottom-logos img {
  margin-right: 10px; /* Adjust the margin between logos as needed */
}

.footer-bottom-page-name {
  font-size: 14px;
}
