/* Product.css */

.product {
    text-align: center;
  }
  
  .product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .product-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .product-details {
    margin-top: 5px;
  }
  