/* Body.css */
.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: rgb(173, 170, 170, 0.1);
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.product-title {
  font-family: 'Inika', sans-serif;
  text-align: left;
  margin-bottom: 10px;
  width: 100%; /* Occupy the entire width of the container */
  padding-left: 23.33%; /* 1/3 of the container width */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.product-details {
  font-family: 'Inika', sans-serif;
  text-align: left;
  margin-bottom: 10px;
  width: 100%; /* Occupy the entire width of the container */
  padding-left: 26.33%; /* 1/3 of the container width */
  padding-right: 26.33%; /* 1/3 of the container width */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.product-container img {
  width: 200px !important;
  height: 200px !important;
  object-fit: cover !important;
  border: 1px solid rgba(0, 0, 0, 0.2); /* Border with low opacity */
}