/* AuctionHeader.css */

.auction-header {
    display: flex;
    flex-direction: column;
    /* Align children in a column */
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.breadcrumb {
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
    padding-left: 7rem;
    /* Align items vertically in the center */
}

.breadcrumb a {
    text-decoration: none;
    color: #555;
    margin-right: 5px;
    font-family: 'Inika', sans-serif;
    font-size: 14px;
}

.title-and-details {
    margin-top: 20px;
    display: flex;
    font-family: 'Inika', sans-serif;
}

.big-title {
    font-size: 28px;
    margin-bottom: 10px;
    width: 33.33%;
    /* 1/3 of the width */
}

.details {
    font-size: 16px;
    color: #777;
    width: 66.66%;
    /* 2/3 of the width */
    padding-right: 5rem;
    text-align: left;
}

.left-column {
    padding-top: 6rem;
    font-size: 16px;
    margin-bottom: 15px;
    width: 33.33%;
    font-family: 'Inika', sans-serif;
    
    /* 1/3 of the width */
}

.auction-item{
    margin-bottom: 1rem;
}

.item-category-title {
    margin-bottom: 1rem;
    font-size: 18px;
}

.search-filter-section {
    display: flex;
}

.right-column {
    padding-top: 7rem;
}

.flashcard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: rgb(173, 170, 170, 0.1);
}

.flashcard-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.flashcard-title {
    font-family: 'Inika', sans-serif;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    /* Occupy the entire width of the container */
    /* 1/3 of the container width */
    box-sizing: border-box;
    /* Include padding in the width calculation */
}

.flashcard-details {
    font-family: 'Inika', sans-serif;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    /* Occupy the entire width of the container */
    padding-left: 26.33%;
    /* 1/3 of the container width */
    padding-right: 26.33%;
    /* 1/3 of the container width */
    box-sizing: border-box;
    /* Include padding in the width calculation */
}

.flashcard-container img {
    width: 200px !important;
    height: 200px !important;
    object-fit: cover !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* Border with low opacity */
}