/* Colors */
:root {
    --header-color: #151D20;
    --text-white: #FFFFFF;
    --text-black: #000000;
    --red-color: #ff0000;
    --hover-color: #e2e2e2;
    --text-color: #858585;
    --border-color: #aaaaaa;
    --icon-social: #1f3251;
    --facebook-color: #1877F2;
    --instagram-color: #E4405F;
    --twitter-color: #1DA1F2;
    --youtube-color: #CD201F;
    --heading-color: #003E65;
    --footer-background: linear-gradient(to right, #00093c, #2d0b00);
}