/* Header.css */

/* Example @import rule for Inika Regular and Bold */
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

.header {
    background-color: #ffffff;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* Display children in a column layout */
}

.top-nav ul,
.right-links ul,
.main-nav ul {
    list-style-type: none;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inika', sans-serif;
    /* Allow items to wrap to the next line if needed */
}

.top-nav {
    width: 100%;
    justify-content: space-between;
    /* Distribute items evenly */
}

.top-nav li,
.right-links li,
.main-nav li {
    margin: 0 1rem;

}

.top-nav a,
.right-links a,
.main-nav a {
    text-decoration: none;
    color: #000000;
}

.part1 {
    /*stay on the left*/
    margin-left: 300px;
}

.part2 {
    /*stay stick to the right*/
    margin-left: auto;
}

.search-container {
    display: flex;
    padding: 1rem;
}

.search-box {
    margin-right: 1rem;
    width: 400px;
    height: 28px;
    font-family: 'Inika', sans-serif;
    border: 1px srgb(230, 230, 230) #ccc;
    /* Add a border for better visibility */
    border-radius: 5px;
    /* Set the border-radius to create rounded corners */
    padding: 5px;
    /* Add padding for better spacing inside the search box */
}

.product-dropdown {
    font-family: 'Inika', sans-serif;
    font-size: 16px;
    appearance: none;
    /* Remove default styles on Firefox */
    -webkit-appearance: none;
    /* Remove default styles on Chrome and Safari */
    padding: 8px;
    /* Adjust padding for spacing */
    border: none;
    /* Remove border */
    outline: none;
    /* Remove outline */
    background: transparent;
    /* Make the background transparent */
    cursor: pointer;
    /* Show pointer cursor on hover */
}

.product-dropdown::-ms-expand {
    display: none;
}

.product-dropdown::after {
    content: '\25BC';
    /* Unicode character for a downward-pointing triangle */
    position: absolute;
    top: 50%;
    right: 10px;
    /* Adjust the distance from the right edge */
    transform: translateY(-50%);
}

.product-dropdown1 {
    font-family: 'Inika', sans-serif;
    font-size: 15px;
    margin-left: 20px;
    appearance: none;
    /* Remove default styles on Firefox */
    -webkit-appearance: none;
    /* Remove default styles on Chrome and Safari */
    /* Adjust padding for spacing */
    border: none;
    /* Remove border */
    outline: none;
    /* Remove outline */
    background: transparent;
    /* Make the background transparent */
    cursor: pointer;
    /* Show pointer cursor on hover */
}

.product-dropdown1::-ms-expand {
    display: none;
}

.product-dropdown1::after {
    content: '\25BC';
    /* Unicode character for a downward-pointing triangle */
    position: absolute;
    top: 50%;
    right: 10px;
    /* Adjust the distance from the right edge */
    transform: translateY(-50%);
}

.main-nav {
    /*stay in the center*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstHalf {
    background-color: #ffffff;
}

.secondHalf {
    background-color: #ffffff;
    padding: 5rem;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Inika', sans-serif;
    color: #000000;
}

.bigSearch {
    padding: 2rem;
}

.search-box2 {
    width: 700px;
    padding: 10px;
    font-size: 20px;
    height: 45px;
    margin-bottom: 1rem;
    font-family: 'Inika', sans-serif;
    border: 1px srgb(230, 230, 230) #ccc;
    /* Add a border for better visibility */
    border-radius: 5px;
    /* Set the border-radius to create rounded corners */


}


.top-nav a:hover,
.right-links a:hover,
.main-nav a:hover {
    background-color: rgba(146, 146, 146, 0.8);
    /* Set the desired brown background color with lower opacity */
    color: #fff;
    /* Set the text color to white when hovering */
    padding: 10px 15px;
    /* Increase padding for larger background area */
    border-radius: 8px;
    /* Add border-radius for rounded corners */
}



/* Add more styling as needed */